rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Base Helper functions
    function isValidId(id) {
      return id is string && id.size() <= 128;
    }

    // User Collection Rules
    match /users/{userId} {
      allow read, write: if true;
    }

    // Cargo Loads Collection Rules
    match /loads/{loadId} {
      allow read, write: if true;
    }

    // Event Logs Collection Rules
    match /logs/{logId} {
      allow read, write: if true;
    }

    // Feedbacks Collection Rules
    match /feedbacks/{feedbackId} {
      allow read, write: if true;
    }

    // Settings Collection Rules
    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}

